*{
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    display: none;
}

.login-page{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../public/images/background.jpg");
  	background-position: top;
  	background-size: cover;
  	background-attachment: fixed;
}

.boxLogin{
    width: 300px;
    padding: 60px 50px 0 50px;
    position: absolute;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
}
.boxLogin h2{
    font-family: Comic Sans MS;
    color: rgba(360, 360, 360, 0.9);
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 40px;
}
.boxLogin input[type = "text"], .boxLogin input[type = "password"]{
    border: 0;
    background: none;
    color: rgba(360, 360, 360, 0.9);
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.boxLogin input[type = "text"]:focus, .boxLogin input[type = "password"]:focus{
    width: 200px;
    border-color: #2ecc71;
}
.boxLogin .btn-primary{
    border: 0;
    background: none;
    display: block;
    margin: 12px auto;
    margin-bottom: 0px;
    text-align: center;
    color: #3498db;
    border: 2px solid #2ecc71;
    padding: 10px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.boxLogin .btn-primary:hover{
    background: #2ecc71;
}
.box-error {
    height: 15px;
}

.box-error .help-block {
    color: red;
}

.login-loading{
    height: 12px;
}

.box-error-login {
    height: 80px;
}

.form-group-login {
    margin-bottom: 8px;
}

.alert-login{
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
/* Nav */

#mainNav{
    background: rgba(0, 0, 0, 0.6);
}

/* Home */

section.banner{
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.banner {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../public/images/background.jpg");
  	background-position: top;
  	background-size: cover;
  	background-attachment: fixed;
}

section.banner .content{
    text-align: center;
}

section.banner .content h1{
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 50px;
    padding: 0;
}

section.banner .content a{
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 40px;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

section.banner .content a:hover{
    background: #ff0;
    border: 2px solid #ff0;
    color: #262626;
}
/*  */
section.blog-post {
    height: 200vh;
    background: #111;
}

section.blog-post .head-post{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
}

.post img{
    object-fit: cover;
    width: 800px;
    height: 500px;
}

.post .btn{
    position: absolute;
    border: 2px solid #262626;
    color: #262626;
    background: #ff0;
    padding: 10px 40px;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.post .btn.prev{
    top: 50px;
    left: -80px;
}

.post .btn.next{
    bottom: 50px;
    right: -80px;
}

.post-title{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 40px;
    left: 20px;
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    line-height: 40px;
    width: calc(100% - 100px);
    box-sizing: border-box;
}

#acoustic{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../public/images/acoustic.jpg");
  	background-position: top;
  	background-size: cover;
  	background-attachment: fixed;
}

#indie{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../public/images/indie.jpg");
  	background-position: top;
  	background-size: cover;
  	background-attachment: fixed;
}

section.blog-post .main-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scroll btn */

section.blog-post .scroll-btn{
	bottom: -100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #fff;
	padding: 10px 10px 20px;
	border-radius: 30px;
}

section.blog-post .scroll-bar span{
	border: 2px solid #fff;
	font-size: 10px;
	border-radius: 30px;
}

section.blog-post .scroll-bar{
	animation: mover 1s infinite alternate;
}

@keyframes mover{
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}

/* Content */
.content-display{
    position: absolute;
    height: 390px;
    width: 840px;
}

.content-display .list-item{
    width: 200px;
    height: 390px;
    background: rgba(0, 0, 0, 0.7);
}

.content-display .list-item ul{
    width: 200px;
    height: 390px;
    overflow: auto;
}

.content-display .img-content{
    object-fit: cover;
    width: 640px;
    height: 390px;
    background: rgba(0, 0, 0, 0.7);
}

.content-display img.img-content{
    position: absolute;
    top: 0;
    right: 0;
}

.content-display div.img-content{
    position: absolute;
    top: 0;
    right: 0;
}

.content-display div.list-item{
    position: absolute;
    top: 0px;
}

.list-item ul li button{
    width: 200px;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
    padding: 10px;
}

.list-item ul li button:hover{
    width: 200px;
    background: #ff0;
    color: #000;
    border: none;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
    padding: 10px;
}

